<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9Mp8NViKgXxwBNfHPYMR-By-rzhwHgp0</string>
	<key>GCM_SENDER_ID</key>
	<string>941175155785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebaselogin-279ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebaselogin-279ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941175155785:ios:e25d626204154470daa398</string>
</dict>
</plist>